<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagr.my_library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Library">
        <activity
            android:name=".Activities.AboutActivity"
            android:label="@string/about"
            android:exported="false" />
        <activity
            android:name=".Activities.FavouriteActivity"
            android:label="@string/see_your_favourites"
            android:exported="false" />
        <activity
            android:name=".Activities.WantToReadActivity"
            android:label="@string/want_to_read"
            android:exported="false" />
        <activity
            android:name=".Activities.AlreadyReadActivity"
            android:label="@string/already_read_books"
            android:exported="false" />
        <activity
            android:name=".Activities.CurrentlyReadActivity"
            android:label="@string/currently_reading_books"
            android:exported="false" />
        <activity
            android:name=".Activities.AllBooksActivity"
            android:label="@string/show_all_books"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>